---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | QR code component</title>
    <style>
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }
    </style>
  </head>
  <body>
    <section class="bg-light-grey w-screen h-screen flex flex-col justify-center items-center">
        <div class="container w-[320px] h-[497px] mx-auto bg-white rounded-[20px] shrink-0 shadow-lg">
            <div class="flex justify-center p-[16px]">
              <img
                class="h-[288px] w-[288px] rounded-[10px]"
                src="./images/image-qr-code.png"
                alt="QR Code"
              />
            </div>
            <div class="w-[256px] mx-auto text-center">
              <h3 class="font-bold pb-4 text-dark-navy text-[22px]">
                Improve your front-end skills by building projects
              </h3>
              <p class="text-grey text-[15px]">
                Scan the QR code to visit Frontend Mentor and take your coding skills
                to the next level
              </p>
            </div>
          </div>
          <div class="attribution pt-20">
            Challenge by
            <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
              >Frontend Mentor</a
            >. Coded by <a href="#">hroddev</a>.
          </div>
    </section>
  </body>
</html>
